.btn {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.btnA, .btnB {
    background-color: rgb(55, 55, 55);
    color: #fff;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
}
